<div class="row">
  <%= form_for(@user, :html => {:class => "col m6 s12"}) do |f| %>

    <% if @user.errors.any? %>
    <div class="row">
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
    <% end %>

    <div class="input-field">
      <i class="mdi-action-account-circle prefix"></i>
      <%= f.text_field :name, :length => '10', :placeholder => 'Name' %>
    </div>
    <div class="input-field">
      <i class="mdi-action-lock prefix"></i>
      <%= f.password_field :password, :placeholder => 'Password' %>
    </div>
    <div class="input-field">
      <i class="mdi-action-lock prefix"></i>
      <%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation' %>
    </div>
    <div class="input-field">
      <i class="mdi-communication-email prefix"></i>
      <%= f.text_field :email, :length => '40', :placeholder => 'Email' %>
    </div>
    <div class="actions">
      <button class="btn waves-effect waves-light" type="submit" name="commit">Create User
        <i class="mdi-content-send right"></i>
      </button>
    </div>
  <% end %><!--end form-->
  <div class="col m6 s12">
    <%= image_tag "JoinUs.jpg", :class => "responsive-img" %>
  </div>

</div>