<div class="row">
  <%= form_for(@user, :html => {:class => "col m6"}) do |f| %>

    <% if @user.errors.any? %>
    <div class="row">
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
    <% end %>

    <div class="input-field">
      <i class="mdi-action-account-circle prefix"></i>
      <%= f.text_field :name, :length => '10' %>
      <%= f.label :name %>
    </div>
    <div class="input-field">
      <i class="mdi-action-lock prefix"></i>
      <%= f.text_field :password %>
      <%= f.label :password %>
    </div>
    <div class="input-field">
      <i class="mdi-action-lock prefix"></i>
      <%= f.text_field :password_confirmation %>
      <%= f.label :password_confirmation %>
    </div>
    <div class="input-field">
      <i class="mdi-communication-email prefix"></i>
      <%= f.text_field :email, :length => '40' %>
      <%= f.label :email %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %><!--end form-->
  <div class="col m6">
    <%= image_tag "JoinUs.jpg", :class => "responsive-img" %>
  </div>

</div>