<h1>Listing users</h1>

<%= will_paginate %>

<ul class="collection">
    <% @users.each do |user| %>
    <li class="collection-item avatar">
        <%= gravatar_for user, "circle", :size => 30 %>
        <span class="title"><%= user.name %><br><%= user.email %></span>
        <span class="right">
            <%= link_to 'Show', user %>
            <% if current_user.admin? %>
            <%= link_to 'Edit', edit_user_path(user) %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </span>
    </li>
    <% end %>
</ul>

<%= will_paginate %>

<%= link_to 'New User', new_user_path %>
