<!--<ul id="menu">
	<li data-menuanchor="firstPage"><a href="#firstPage">First slide</a></li>
	<li data-menuanchor="secondPage"><a href="#secondPage">Second slide</a></li>
	<li data-menuanchor="3rdPage"><a href="#3rdPage">Third slide</a></li>
	<li data-menuanchor="4thpage"><a href="#4thpage">Fourth slide</a></li>
</ul>-->

<div id="fullpage">
	<div class="section " id="section0">
		<h1>fullPage.js</h1>
		<p>Create Beautiful Fullscreen Scrolling Websites</p>
		<%= image_tag "imgs/fullPage.png" %>
	</div>
	<div class="section" id="section1">
	    <div class="slide">
			<div class="intro">
				<h1>Create Sliders</h1>
				<p>Not only vertical scrolling but also horizontal scrolling. With fullPage.js you will be able to add horizontal sliders in the most simple way ever.</p>
				<%= image_tag "imgs/slider.png" %>
			</div>

		</div>
	    <div class="slide">
			<div class="intro">
				<%= image_tag "imgs/1.png" %>
				<h1>Simple</h1>
				<p>Easy to use. Configurable and customizable.</p>
			</div>
		</div>
	    <div class="slide">
			<div class="intro">
				<%= image_tag "imgs/2.png" %>
				<h1>Cool</h1>
				<p>It just looks cool. Impress everybody with a simple and modern web design!</p>
			</div>
		</div>
	    <div class="slide">
			<div class="intro">
				<%= image_tag "imgs/3.png" %>
				<h1>Compatible</h1>
				<p>Working in modern and old browsers too! IE 8 users don't have the fault of using that horrible browser! Lets give them a chance to see your site in a proper way!</p>
			</div>
		</div>
	</div>
	<div class="section" id="section2">
		<div class="intro">
			<h1>Example</h1>
			<p>HTML markup example to define 4 sections.</p>
			<%= image_tag "imgs/example2.png" %>
		</div>
	</div>
	<div class="section" id="section3">
		<div class="intro">
			<h1>Working On Tablets</h1>
			<%= link_to "Sign up now", signup_path, :class => "waves-effect blue btn-large white-text" %>
			<p>
				Designed to fit to different screen sizes as well as tablet and mobile devices.<br />

				

				<br /><br /><br /><br /><br /><br />
			</p>

		</div>
		<%= image_tag "imgs/tablets.png" %>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#fullpage').fullpage({
			sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE', 'whitesmoke', '#ccddff'],
			anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
			//menu: '#menu',
			//scrollingSpeed: 1000
			'navigation': true,
			'navigationPosition': 'left',
			'navigationTooltips': ['First', 'Second', 'Third', 'Fourth'],
		});

	});
</script>