<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%= render 'layouts/stylesheets' %>
    </head>
    <body>
        <%= render 'layouts/navigation' %>


        <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>

        <div class="row">
            <div class="col m10 offset-m1">
                <%= yield %>
            </div>
        </div>


        <%= debug(params) if Rails.env.development? %>
        <!-- Compiled and minified JavaScript -->
        
        <script>
        $(".button-collapse").sideNav();
        </script>
    </body>
</html>
