<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%= render 'layouts/stylesheets' %>
    </head>
    <body>
        <%= render 'layouts/navigation' %>
        
        <section class="round">
<% flash.each do |key, value| %>
<div class="flash <%=key%>"><%= value %></div>
<%end%>
<%= yield %>
</section>
        <div class="row">
            <div class="col m10 offset-m1">
                <%= yield %>
            </div>
        </div>

        <!-- Compiled and minified JavaScript -->
        
        <script>
        $(".button-collapse").sideNav();
        </script>
    </body>
</html>
